.accordion {
  background-color: #f6f6f6;
  font-size: calc(100vw / 60);
  display: flex;
  flex-direction: column;
}
.accordion-btn {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff6060;
  color: white;
  text-align: left;
  border: none;
  width: 100%;
  height: calc(100vw / 25);
  font-size: calc(100vw / 60);
  padding: 0 calc(100vw / 60);
}
.accordion-content {
  width: 100%;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
}
.accordion-content p {
  padding: calc(100vw / 60);
}
