.carrousel {
  position: relative;
  height: calc(100vw / 3.5);
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
}
.carrousel-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: calc(100vw / 80);
  display: flex;
  justify-content: space-between;
}
.carrousel button {
  font-size: calc(100vw / 25);
  background-color: inherit;
  border: none;
  color: white;
  cursor: pointer;
}
.carrousel-count {
  font-size: calc(100vw / 85);
  color: white;
  align-self: flex-end;
}

#carrousel-image {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
}
.carrousel-picture {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
