.housing-accordion {
  margin-top: calc(100vw * 0.03);
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.housing-accordion > * {
  width: 45%;
}

@media only screen and (max-width: 600px) {
  .housing-accordion {
    flex-direction: column;
    align-items: center;
    gap: calc(100vw / 130);
  }
  .housing-accordion > * {
    width: 100%;
  }
}
