.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: calc(100vw / 65) 0;
  font-size: clamp(15px, calc(100vw / 60), 20px);
  width: clamp(70%, calc(100vw * 0.85), 1600px);
}
.nav-logo {
  font-size: clamp(20px, calc(100vw / 25), 60px);
  display: inline;
}
.nav-logo .logo {
  display: inline-block;
  position: relative;
  width: calc(100vw / 37);
  max-width: 45px;
}
.nav-logo .logo .logo-img {
  width: 100%;
  position: absolute;
  bottom: calc(-20.88vw / 25);
  margin: 0 2.5%;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: calc(100vw / 50);
}
nav ul .active {
  text-decoration: underline;
}
@media only screen and (max-width: 1000px) {
  .nav-bar {
    font-size: calc(100vw / 40);
  }
  .nav-logo {
    font-size: calc(100vw / 15);
  }
  .nav-logo .logo {
    width: calc(100vw * 0.045);
  }
}
@media only screen and (max-width: 650px) {
  .nav-bar {
    font-size: calc(100vw / 25);
  }
  .nav-logo {
    font-size: calc(100vw / 10);
  }
  .nav-logo .logo {
    width: calc(100vw * 0.068);
  }
}
